

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $floral-white;
  font-size: 16px; /* 1rem = 10px */
}

body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 16px; /* 1rem = 10px */
  font-family: $ivy;
  color: $floral-white;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &#home {
    background-color: $glaucous;
    overflow: hidden;
    #wrap-wrap {
      max-height: 100vh;
    }
  }
  &#adc {
    background-color: $floral-white;
    overflow: hidden;
    #wrap-wrap {
      max-height: 100vh;
    }
  }
}

#wrap-wrap, .grid {
  @extend %wrap-wrap;
}

.light-grid { background-image: url("../media/images/light-grid.png"); }
.dark-grid { 
  background-image: url("../media/images/dark-grid.png"); 
  .lula-projects .lula-container {
    background-image: url("../media/images/dark-grid.png");
    width: 75%;
    height: auto;
    min-height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: unset;
  }
}

.overflow { overflow: unset !important; }