@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url("https://use.typekit.net/nwy7krl.css");

@font-face {
  font-family: 'IvyPresto';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/IvyPresto bold italic.otf') format('otf'), 
        url('../fonts/IvyPresto bold.otf') format('otf'), 
        url('../fonts/IvyPresto italic.otf') format('otf'), 
        url('../fonts/IvyPresto light italic.otf') format('otf'), 
        url('../fonts/IvyPresto light.otf') format('otf'), 
        url('../fonts/IvyPresto regular.otf') format('otf'), 
        url('../fonts/IvyPresto semibold italic.otf') format('otf'), 
        url('../fonts/IvyPresto semibold.otf') format('otf'), 
        url('../fonts/IvyPresto thin italic.otf') format('otf'), 
        url('../fonts/IvyPresto thin.otf') format('otf');
}

/*

IvyPresto Text Thin
font-family: ivypresto-text, serif;
font-weight: 100;
font-style: normal;

IvyPresto Text Thin Italic
font-family: ivypresto-text, serif;
font-weight: 100;
font-style: italic;

IvyPresto Text Light
font-family: ivypresto-text, serif;
font-weight: 300;
font-style: normal;

IvyPresto Text Light Italic
font-family: ivypresto-text, serif;
font-weight: 300;
font-style: italic;

IvyPresto Text Italic
font-family: ivypresto-text, serif;
font-weight: 400;
font-style: italic;

IvyPresto Text Regular
font-family: ivypresto-text, serif;
font-weight: 400;
font-style: normal;

IvyPresto Text SemiBold
font-family: ivypresto-text, serif;
font-weight: 600;
font-style: normal;

IvyPresto Text SemiBold Italic
font-family: ivypresto-text, serif;
font-weight: 600;
font-style: italic;

IvyPresto Text Bold
font-family: ivypresto-text, serif;
font-weight: 700;
font-style: normal;

IvyPresto Text Bold Italic
font-family: ivypresto-text, serif;
font-weight: 700;
font-style: italic;

*/