@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url("https://use.typekit.net/oym2fvx.css");
@import url("https://use.typekit.net/oym2fvx.css");

@font-face {
  font-family: 'IvyPresto';
  font-style: normal;
  font-weight: normal;
  src:  url('../fonts/IvyPresto bold italic.otf') format('otf'), 
        url('../fonts/IvyPresto bold.otf') format('otf'), 
        url('../fonts/IvyPresto italic.otf') format('otf'), 
        url('../fonts/IvyPresto light italic.otf') format('otf'), 
        url('../fonts/IvyPresto light.otf') format('otf'), 
        url('../fonts/IvyPresto regular.otf') format('otf'), 
        url('../fonts/IvyPresto semibold italic.otf') format('otf'), 
        url('../fonts/IvyPresto semibold.otf') format('otf'), 
        url('../fonts/IvyPresto thin italic.otf') format('otf'), 
        url('../fonts/IvyPresto thin.otf') format('otf');
}