:root {
  
  // -- Color Palette
  --lula-color-floral-white:    #FFFDF5;
  --lula-color-glaucous:        #687BBC;
  --lula-color-dark-purple:     #201733;
  --lula-color-xiketic:         #1B0E1D;
  --lula-color-charleston-green:#192C2E;
  --lula-color-copper-penny:    #BC7568;
  --lula-color-white:           #ffffff;
  --lula-color-gray:            #707070;

  // -- Fonts
  --lula-font-family-primary:     'Syne',           sans-serif, serif;
  --lula-font-family-secondary:   'ivypresto-text', sans-serif, serif;

}

// Palette Colors
$floral-white:    #FFFDF5                           !default;
$glaucous:        #687BBC                           !default;
$dark-purple:     #201733                           !default;
$charleston-green:#192C2E                           !default;
$copper-penny:    #BC7568                           !default;

// General Colors
$white:           #FFF                              !default;
$gray:            #707070                           !default;
$transparent:     transparent                         !default;

// Fonts
$syne:            'Syne', sans-serif, serif           !default;
$ivy:             'ivyPresto-text', sans-serif, serif !default;

// Fonts Weights
$thin:            100                                 !default;
$light:           300                                 !default;
$regular:         400                                 !default;
$semibold:        600                                 !default;
$bold:            700                                 !default;
