.lula-nav {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .lula-nav {
    &-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      list-style: none;
      &__item {
        &--dot, &--dot.active {
          position: relative;
          margin-top: 0;
          &:hover {
            animation: link-dot-up forwards .3s;
            a span {
              opacity: 1;
              color: $floral-white;
              height: calc(100% - 15px);
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 8px;
              height: 8px;
              background-color: $copper-penny;
              border-radius: 50%;
              opacity: .5;
              animation: link-dot-down forwards .3s;
              opacity: 0;
              margin-top: 0;
            }
          }
        }
        &--dot.active {
          top: -15px;
          a span {
            opacity: 1;
            color: $floral-white;
            height: calc(100% - 15px);
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 8px;
            height: 8px;
            background-color: $copper-penny;
            border-radius: 50%;
            opacity: .5;
            animation: link-dot-down forwards .3s;
            opacity: 0;
            margin-top: 0;
          }
          &:hover { animation: none; }
        }
        &--link {
          text-decoration: none;
          span {
            text-transform: capitalize;
            font-family: $syne;
            padding: 0.125rem 0.969rem;
            font-size: 20px;
            color: rgba($floral-white, .5);
            opacity: .75;
            max-height: 24px;
          }
        }
      }
    }
    &-list__button--icon { display: none; }
    &-list__button--text {
      &.active { 
        padding-right: 40px;
        position: relative;
        span { 
          padding-left: 0;
          color: $floral-white; 
          opacity: unset;
        }
        &::before {
          content: "";
          position: absolute;
          top: -5px;
          bottom: 0;
          left: 85%;
          border-right: 2px solid $floral-white;
          transform: rotate(35deg);
          height: 35px;
        }
      }
    }
  }
  &-list-AdC {
    .lula-nav-list__item--title a {
      span {
        color: $copper-penny !important;
      }
    }
    .lula-nav-list__item--divider {
      padding-right: 1rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: -18px;
        bottom: 0;
        right: 10px;
        border-right: 1px solid $charleston-green;
        transform: rotate(35deg);
        height: 35px;
      }
    }
  }
}