.lula-projects {
  display: none;
  &-active {
    .lula-navbar {
      z-index: 999;
      display: block;
      visibility: visible;
      opacity: 1;
      .lula-nav-list__button--text.active span {
        color: rgba($floral-white, 1) !important;
      }
      ul li a, a span, a div span {
        color: rgba($floral-white, .5) !important;
        &:hover { color: rgba($floral-white, 1) !important; }
      }
      .lula-nav-list__button--text.active::before {
        border-color: $white;
      }
    }
  }
  &.show-projects {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-purple;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 998;
  }
  .lula {
    &-container { @extend %wrap-wrap; position: relative; }
    &-row {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
    &-content { display: block; }
    &-content-list {
      display: flex;
      flex-direction: column;
      z-index: 2;
      list-style: none;
      width: 100%;
      margin: auto;
    }
    &-content-list__item {
      position: relative;
      right: 0;
      line-height: 1.75;
      width: 51%;
      &:nth-child(2n+2) {
        position: relative;
        left: 29%;
        text-align: right;
        line-height: 1.75;
      }
      &:nth-child(1) a h2 span::before { width: auto; }
      &:nth-child(2) a h2 span::before { width: 10%; }
      &:nth-child(3) a h2 span::before { width: 12%; }
      &:nth-child(4) a h2 span::before { width: 15%; }
      &:nth-child(5) a h2 span::before { width: 25%; }
      &:first-child { margin-top: -15px; }
      &:hover img { 
        display: block; 
        position: fixed;
        z-index: 3;
        object-fit: contain;
        width: auto;
        max-width: 100%;
        border-radius: 5px;
      }
      &:nth-child(1):hover img { 	top: 5%; right: 88%; width: 35%; }
      &:nth-child(2):hover img { 	bottom: 89%; left: 68%; width: 35%;}
      &:nth-child(3):hover img { 	top: 8%; left: 62%; width: 34%;}
      &:nth-child(4):hover img { 	top: 80%; left: 66%; width: 40%;}
      &:nth-child(5):hover img { 	top: 50%; right: 75%; width: 40%;}
       
    }
    &-content-list__item img { display: none; position: relative; }
    &-content-list__item a {
      padding-top: 0.594rem;
      padding-bottom: 0.594rem;
      text-decoration: none;
    }
    &-content-list__item a h2 {
      display: flex;
      white-space: nowrap;
      text-align: right;
      transition: ease .3s all;
      &:hover span, &:hover span sup, &:hover span sub { color: $white; transition: ease .3s all; }
      &:hover span::before { color: $glaucous; transition: ease .3s all; }
      span:nth-child(2) {
        display: none;
      }
    }
    &-content-list__item a h2 span { 
      color: rgba($glaucous, .5); 
      width: 100%;
      &::before { 
        content: attr(data-subtitle); 
        font-family: $syne;
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-0%, -50%);
        white-space: pre-wrap;
        width: 20%;
        text-align: left;
        font-size: 1.25rem;
        font-family: $syne;
        font-weight: $thin;
        line-height: 24px;
      }
    }
    &-content-list__item--link-title {
      font-size: 3.125rem;
      font-family: $ivy;
      font-weight: $thin;
      padding-right: 62px;
      display: inline-block;
      position: relative;
      sup, sub { 
        font-family: $syne; 
        color: rgba($glaucous, .5);
      }
      sub { 
        font-size: 1.125rem; 
        margin-top: -.5rem;
        vertical-align: unset;
      }
      sup {
        position: absolute;
        top: 0;
        right: 4%;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 20px;
        top: 0;
        height: 80%;
        border-right: 1px solid rgba($glaucous, .5);
        transform: translateX(90%) rotate(35deg);
      }
    }
    &-content-list__item--link-subtitle {
      font-size: 1.25rem;
      font-family: $syne;
      font-weight: $thin;
      line-height: 24px;
    }
  }
}