<section id="lula-adc2" class="lula-adc2 adc2">
  <div class="lula-adc2-container">
    <div class="lula-adc2-row">
      <div class="lula-adc2-description">
        <h1>Design<br> Research</h1>
        <strong><i>Artesanías de Colombia is the entity in charge of<br> supporting the work of Colombian artisans. It is a<br> society of mixed public-private economy, whose<br> mission and purpose is to expand the participation<br> of artisans in the national productive sector.</i></strong>
        <p>To rescue and protect the crafts and the artisan<br> tradition is also a priority. The crafts express traditions,<br> beliefs, thoughts, values, knowledge and keep alive the<br> legacy of ancestral cultures. They are our letter of<br> introduction to the world and in each one of them you<br> can find the creative DNA of Colombians.</p>
        <p>This project shows how support in design<br> and production adds to the commercial factor with<br> the purpose of bringing artisans a greater visibility<br> in local and national fairs, whilst improving<br> their quality and standard of living.</p>
      </div>
      <div class="lula-adc2-images">
        <div class="lula-adc2-images__item">
          <img src="media/images/Adc-2.2.JPG" alt="#">
        </div>
        <div class="lula-adc2-images__item">
          <img src="media/images/Adc-2.1.JPG" alt="#">
        </div>
      </div>
    </div>
  </div>
</section>