* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --lula-color-floral-white:    #FFFDF5;
  --lula-color-glaucous:        #687BBC;
  --lula-color-dark-purple:     #201733;
  --lula-color-xiketic:         #1B0E1D;
  --lula-color-white:           #ffffff;
  --lula-color-black:           #000000;
  --lula-color-gray:            #707070;
}

// Palette Colors
$floral-white:    #FFFDF5         !default;
$glaucous:        #687BBC         !default;
$dark-purple:     #201733         !default;
$xiketic:         #1B0E1D         !default;

// General Colors
$white:           #FFF             !default;
$black:           #000             !default;
$gray:            #707070          !default;
$transparent:     transparent        !default;


